<div class="collapse navbar-collapse navbar-ex1-collapse ">
<ul class="nav navbar-nav side-nav">
  <li class="active">
      <a ng-click="home()"><i class="fa fa-fw fa-dashboard"></i> Home</a>
  </li>
  <li class="active">
      <a href="#addDrugs"><i class="fa fa-fw fa-dashboard"></i> Add Drugs</a>
  </li>
  <li class="active">
      <a href="#viewDrugs"><i class="fa fa-fw fa-dashboard"></i> View Drugs</a>
  </li>
  <li class="active">
      <a href="#addBatch"><i class="fa fa-fw fa-dashboard"></i> Add New Batch</a>
  </li>
  <li class="active">
      <a href="#viewRequest"><i class="fa fa-fw fa-dashboard"></i> View Request</a>
  </li>
  <li class="active">
      <a href="#drugInfo"><i class="fa fa-fw fa-dashboard"></i> Drug Informations</a>
  </li>
  <li class="active">
      <a href="#drugInfo"><i class="fa fa-fw fa-dashboard"></i> Drug Informations</a>
  </li>
  <li class="active">
      <a ng-click="getsupplier()"><i class="fa fa-fw fa-dashboard"></i> Supplier</a>
  </li>
  <li class="active">
      <a ng-click="getMail()"><i class="fa fa-fw fa-dashboard"></i> Mailer</a>
  </li>
<!--  <li>
       <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Handle Supplier<i class="fa fa-fw fa-caret-down"></i></a>
       <ul id="demo" class="collapse">
           <li>
               <a  ng-click="getsupplier()">Supplier</a>
           </li>
       </ul>
   </li>-->
  <li class="active">
      <a href="/functionone/homefunone"><i class="fa fa-fw fa-dashboard"></i> Reports</a>
  </li>
</ul>
</div>
<!--
<li>
     <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Supplier <i class="fa fa-fw fa-caret-down"></i></a>
     <ul id="demo" class="collapse">
         <li>
             <a ng-click="getSupplier()" >Add Supplier</a>
         </li>
         <li>
             <a ng-click="viewSupplier()" >Add Supplier</a>
         </li>
     </ul>
 </li>
-->
